<section class="section-header">
    <div class="navigation container-header"><div>
        <a href="">
                <svg class="icon-header icon-film">
                    <use href="./images/icon.svg#icon-film"></use>
                </svg>
            </a>
            <a class="logo-text-header" href="">Filmoteka</a>
        </div>
            <nav>
        <ul class="nav-header">
                <li>
                    <a class="text-header text-home" href="./index.html">HOME</a>
                </li>
                <li>
                    <a class="text-header" href="">MY LIBRARY</a>
                </li>
            </ul>
            </nav>
    </div>
    <div class="search-container">
        <input class="input-header" type="text" placeholder="Movie search">
        <button type="submit"><svg class="svg-header" width="20" height="20">
            <use href="./images/icon.svg#icon-search"></use>
        </svg></button>
      </div>
</section>