<header class="SectionHeader">
  <nav class="Nav">
    <div class="LogoHeader">
      <a href="./index.html" class="LogoImage"><img src="./images/film.svg" href="./index.html" /></a>
      <span class="LogoText">Filmoteka</span>
    </div>
    <ul class="UlNav">
      <li><a href="./index.html" class="LiNav Current">Home</a></li>
      <li><a href="./library.html" class="LiNav">My library</a></li>
    </ul>
  </nav>
  <form class="SearchForm">
    <input type="text" class="SearchInput" placeholder="Movie search">
    <button type="submit" class="SearchButton"><svg class="SearchIcon" width="12" height="12">
        <use href="./images/icon.svg#icon-search"></use>
      </svg></button>
    <div class="SearchBorder"></div>
  </form>
</header>