<header class="MainHeader">
  <nav class="Navigation">
    <div class="LogoWraper">
      <a href="./index.html" class="ImgCenter"
        ><img src="./images/film.svg" href="./index.html"
      /></a>
      <span class="LogoTitle">Filmoteka</span>
    </div>

    <ul class="List">
      <li><a href="./index.html" class="Link">Home</a></li>
      <li><a href="./library.html" class="Link Current">My library</a></li>
    </ul>
  </nav>

  <div class="ButtonsWrapper">
    <button class="Buttons SelectedButton" data-watched>Watched</button>
    <button class="Buttons" data-queue>Queue</button>
  </div>
</header>
