<main class="films-list">
  <section class="film-section">
    <div id="movie-container" class="IndexContainer"></div>
  </section>
  <div class="buttons">
    <button class="arrow-button"><img src="./images/arrow-left.svg" /></button>
    <button class="current-page">1</button>
    <button class="page-button">2</button>
    <button class="page-button">3</button>
    <button class="page-button">4</button>
    <button class="page-button">5</button>
    <button class="page-button">6</button>
    <button class="page-button">7</button>
    <button class="page-button">8</button>
    <button class="page-button">9</button>
    <button class="arrow-button">
      <img src="./images/arrow-left.svg" class="arrow-right" />
    </button>
  </div>
</main>
