.footer {
  background-color: #f7f7f7;
  text-align: center;
  min-width: 320px;
  padding-top: 29px;
  padding-bottom: 30px;
}
.footer-text {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 1.172;
}
.textfirst {
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 28px;
  }
  .footer-text {
    font-size: 16px;
    line-height: 1.171;
  }
  .textfirst {
    display: inline-block;
  }
}
