/*global*/
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-background-color);
    margin: 0 auto;
  }
  
  ul,
  ol,
  a {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding-left: 0;
    font-style: normal;
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .icon-header {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    color: white;
  }
  .icon-film {
    width: 24px;
    height: 24px;
    background-position: 0 0;
  }
  
  .section-header {
    padding: 40px 20px 182px;
    background-image: url('../images/foto-header-mobile@1x.jpg');
    width: 100%;
    height: 230px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: fixed;
    z-index: 1000;
  }
  
  .logo-text-header {
    font-weight: 500;
    font-size: 30px;
    line-height: 35.16px;
    color: white;
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .text-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 14.06px;
    color: white;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: inline-block;
    padding: 0 0 3px 0;
  }
  
  .text-home::after {
    content: '';
    display: block;
    background-color: #ff001b;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0px;
  }
  .text-mylibrary::after {
    content: '';
    display: block;
    background-color: #ff001b;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0px;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    padding: 48px 0;
  }
  
  .search-container input[type='text'] {
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    opacity: 0;
  }
  
  .search-container button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .section-header {
      background-image: url('../images/foto-header-tablet@1x.jpg');
      height: 216px;
      padding: 44px 32px 182px;
    }
    .logo-text-header {
      display: inline-block;
    }
  }
  @media screen and (min-width: 1200px) {
    .section-header {
      background-image: url('../images/foto-header-desktop@1x.jpg');
      height: 216px;
      padding: 44px 32px 182px;
    }
    .logo-text-header {
      display: inline-block;
    }
  }
  