:root {
  --FONT-FAMILY: 'Roboto', sans-serif;
  --RED: #ff001b;
  --WHITE: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--FONT-FAMILY);
  font-weight: 500;
  font-size: 12px;
  color: var(--WHITE);
}

.SectionHeader {
  background-image: url('../images/mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.Nav {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LogoHeader {
  display: flex;
}
.LogoImage {
  display: flex;
  align-items: center;
}
.LogoText {
  display: none;
}
.UlNav {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.LiNav {
  text-decoration: none;
  line-height: 14.06px;
  text-transform: uppercase;
  text-align: center;
  color: var(--WHITE);
  position: relative;
}
.LiNav::after {
  content: '';
  background-color: var(--RED);
  right: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  position: absolute;
  transition: width 300ms, left 300ms;
}
.LiNav:hover::after {
  width: 100%;
  left: 0;
}

.Current::after {
  content: '';
  background-color: var(--RED);
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
}

.SearchForm {
  display: flex;
  align-items: center;
  width: 280px;
  height: 20px;
  color: var(--WHITE);
  position: relative;
  margin: 0 auto;
}

.SearchInput {
  flex-grow: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--WHITE);
  outline: none;
  font-size: 16px;
}

.SearchButton {
  border: none;
  background-color: transparent;
  color: var(--WHITE);
  cursor: pointer;
}
.SearchIcon {
  margin-right: 5px;
  fill: var(--WHITE);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.SearchBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 0px);
  height: 0.5px;
  background-color: var(--WHITE);
}
.SearchInput::placeholder {
  color: var(--WHITE);
  width: 96px;
  height: 16px;
}
.SearchInput:focus::placeholder {
  color: transparent;
}
@media screen and (min-width: 591px) {
  .SectionHeader {
    background-image: url('../images/tablet.jpg');
    height: 219px;
  }
  .Nav {
    padding: 40px 32px;
  }
  .LogoHeader {
    gap: 10px;
  }
  .LogoText {
    font-weight: 500;
    font-size: 30px;
    color: var(--WHITE);
    display: inline;
    line-height: 35.16px;
  }
}
@media screen and (min-width: 1071px) {
  .SectionHeader {
    background-image: url('../images/desktop.jpg');
    height: 216px;
  }
}
