:root {
    --FONT-FAMILY: 'Roboto', sans-serif;
    --RED: #ff001b;
    --ORANGE: #ff6b08;
    --WHITE: #fff;
    --BLACK: #000;
  }
  body {
    font-family: var(--FONT-FAMILY);
    font-weight: 500;
    font-size: 12px;
  }
  .IndexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    @media screen and (min-width: 768px) {
      gap: 32px;
    }
    @media screen and (min-width: 1280px) {
      gap: 15px;
    }
  }
  .card {
    width: 280px;
    margin-bottom: 20px;
    cursor: pointer;
    align-items: baseline;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1280px) {
      width: 395px;
    }
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      transform: scale(1.05);
    }
  }
  .card img {
    width: 100%;
    height: 398px;
    border-radius: 5px;
    @media screen and (min-width: 768px) {
      height: 455px;
      gap: 32px;
    }
    @media screen and (min-width: 1280px) {
      height: 574px;
    }
  }
  .card h1 {
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--BLACK);
  
    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  .card p {
    line-height: 1.33;
    color: var(--ORANGE);
    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  .watched-movies-section,
  .queue-section {
    padding-top: 20px;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  .card .details {
    display: flex;
  }
  .card .details p {
    margin: 0;
  }
  .card .details p:not(:last-child)::after {
    content: '|';
    margin-left: 5px;
    margin-right: 5px;
    color: var(--ORANGE);
  }
  