// .modal-open {
//   overflow: hidden;
// }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-content {
  user-select: none;
  width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-height: 98vh;
  transition: width 0.1s ease-in-out;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.close:hover {
  color: #555;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-buttons button {
  border: 1px solid #000;
  border-radius: 5px;
  width: 110px;
  height: 44px;
}
.modal-buttons .watched {
  border: none;
  background: #ff6b01;
  color: #fff;
  line-height: 1.33;
  text-transform: uppercase;
  padding: 6px;
}
.queue {
  color: #000;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 6px;
}
.watched:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f15500;
}

.queue:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.modal-movie-image {
  border-radius: 5px;
}

.modal-movie-title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 23px;
}

.modal-movie-original-title {
  line-height: 133%;
  color: #000;
}

.modal-movie-about {
  line-height: 1.67;
  color: #000;
}
.modal-details-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.movieDetailsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  justify-content: space-between;
  gap: 20px;
}
.modal-additional-Info {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-direction: column;
}
.modal-additional-Info .modal-row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-additional-Info .modal-row-wrapper .modal-data-name-wrapper,
.modal-additional-Info .modal-row-wrapper .modal-data-wrapper {
  flex: 1;
}
.modal-row-wrapper {
  display: flex;
  color: black;
}
.modal-data-name-wrapper {
  color: rgb(140, 140, 140);
  display: flex;
  flex: 1;
  line-height: 16px;
}
.modal-data-wrapper {
  color: rgb(140, 140, 140);
  color: black;
  flex: auto;
  line-height: 16px;
}
.modal-additional-Info .modal-data-name-wrapper,
.modal-additional-Info .modal-data-wrapper {
  flex: 1;
  align-items: center;
}

.modal-vote-average {
  margin-right: 3px;
  border-radius: 5px;
  padding: 1px 9px;
  background: rgb(255, 107, 1);
  color: rgb(255, 255, 255);
}
.modal-vote-count {
  border-radius: 5px;
  padding: 1px 9px;
  background: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
}

.modal-overview {
  color: rgb(0, 0, 0);
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.modal-overview-text {
  line-height: 20px;
}
.modal-overview-text-Head {
  line-height: 16px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 702px;
  }
  .modal-movie-image {
    width: 264px;
    height: fit-content;
  }
  .movieDetailsWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 68px;
    justify-content: normal;
  }
  .modal-details-container {
    width: 264px;
  }
  .modal-buttons button {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-content {
    width: 806px;
  }
  .modal-movie-image {
    width: 375px;
    height: fit-content;
  }
  .modal-movie-title {
    font-size: 30px;
    line-height: 35px;
  }
  .movieDetailsWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: normal;
  }
  .modal-details-container {
    width: 391px;
  }
  .modal-buttons button {
    width: 125px;
  }
  .modal-buttons .watched {
    margin-left: 5px;
    margin-right: 15px;
  }
  .modal-buttons {
    justify-content: start;
  }
}
